# Pyrogram generated code
pyrogram/errors/exceptions/
pyrogram/raw/functions/
pyrogram/raw/types/
pyrogram/raw/base/
pyrogram/raw/all.py

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Docs build
docs/build/
docs/source/api/bound-methods/
docs/source/api/methods/
docs/source/api/types/
docs/source/telegram/
Pyronext-docs/

# Ruff
.ruff_cache/
